:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --button-background: #1a1a1a;
  --button-border-color: transparent;
  --button-hover-border-color: #646cff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* General button styles */
button {
  border-radius: 8px;
  border: 1px solid var(--button-border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: var(--button-hover-border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Styles for when AR Camera is active */
body.cameraActive {
  overflow: hidden !important; /* Prevent scrolling */
  touch-action: none !important; /* Disable default touch behaviors like pinch-zoom */
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important;    /* Firefox */
  -ms-user-select: none !important;     /* IE10+/Edge */
  user-select: none !important;         /* Standard */
  /* Ensure the body itself doesn't inadvertently scroll due to content */
  /* position: fixed; /* This can have side effects, use with caution if overflow:hidden is not enough */
  /* width: 100%; */
  /* height: 100%; */
}

/* hide the default background color on the camera video */
#arjs-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1 !important;
}

/* ===== ACCESSIBILITY ===== */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
